Source: vyatta-debian-system-config
Section: contrib/net
Priority: extra
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Build-Depends: debhelper (>= 9.0.0), config-package-dev, logrotate, systemd
Standards-Version: 3.9.4

Package: vyatta-debian-system-config
Architecture: all
Depends:
 adduser,
 auditd,
 ddclient,
 dnsmasq,
 ipvsadm,
 isc-dhcp-relay,
 isc-dhcp-server,
 logrotate,
 ntp,
 radvd,
 rsyslog,
 snmpd,
 sudo,
 systemd,
 udev,
 ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Vyatta changes to the Debian default configuration
 This package includes the Vyatta changes to the Debian default configuration.
